<div class="all_courses">
  <h4 class="mt-3 text-center">All Courses</h4>
  	<div class="row my-5">
        <div class="col">
         <div class="card card_box">
           <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
            <div class="card-body">
            <h5 class="card-title">Python For Begineers</h5>
            <p class="card-text">Free</p>
            <a href="#" class="btn btn-primary">Enroll</a>
            </div>
         </div>
        </div>

        <div class="col">
         <div class="card card_box">
           <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
            <div class="card-body">
            <h5 class="card-title">Python For Begineers</h5>
            <p class="card-text">Free</p>
            <a href="#" class="btn btn-primary">Enroll</a>
            </div>
         </div>
         </div>
        <div class="col">
         <div class="card card_box">
           <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
           <div class="card-body">
           <h5 class="card-title">Python For Begineers</h5>
           <p class="card-text">Free</p>
           <a href="#" class="btn btn-primary">Enroll</a>
           </div>
         </div>
        </div>
        <div class="col">
            <div class="card card_box">
              <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
              <div class="card-body">
              <h5 class="card-title">Python For Begineers</h5>
              <p class="card-text">Free</p>
              <a href="#" class="btn btn-primary">Enroll</a>
              </div>
            </div>
           </div>
           <div class="col mt-5">
              <div class="card card_box">
                <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
                <div class="card-body">
                <h5 class="card-title">Python For Begineers</h5>
                <p class="card-text">Free</p>
                <a href="#" class="btn btn-primary">Enroll</a>
                </div>
              </div>
             </div>
             <div class="col mt-5">
                <div class="card card_box">
                  <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
                  <div class="card-body">
                  <h5 class="card-title">Python For Begineers</h5>
                  <p class="card-text">Free</p>
                  <a href="#" class="btn btn-primary">Enroll</a>
                  </div>
                </div>
               </div>
               <div class="col mt-5">
                  <div class="card card_box">
                    <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
                    <div class="card-body">
                    <h5 class="card-title">Python For Begineers</h5>
                    <p class="card-text">Free</p>
                    <a href="#" class="btn btn-primary">Enroll</a>
                    </div>
                  </div>
                 </div>
                 <div class="col mt-5">
                    <div class="card card_box">
                      <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image">
                      <div class="card-body">
                      <h5 class="card-title">Python For Begineers</h5>
                      <p class="card-text">Free</p>
                      <a href="#" class="btn btn-primary">Enroll</a>
                      </div>
                    </div>
                   </div>
                   <button type="button" class="btn btn-danger button_style" (click)="isCollapsed = !isCollapsed"
                   [attr.aria-expanded]="!isCollapsed" aria-controls="collapse_it">
                   View More..
                   </button>
</div>
