.all_courses{
  border-top: 1px solid #ccc;
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 40px;
}
.card_box{
  width:250px;
  box-shadow: 2px 3px 4px 3px #888888;
}
.button_style{
  margin-left: 78%;
  margin-top:20px;
}
