$contactback_img:url("../../assets/images/contact_background.jpg");
$background-color:  #f6f4f8;
$font-color:#9e519f;
$subhead_font:23px;
$head_font:30px;
$subhead_padtop:42px;
$subhead_padbtm:17px;
$back_shadow:7px 7px 10px 7px rgba(76, 110, 245, .1);

.contact_back{
    background-image: $contactback_img;
}

.backcard_inner{
    background-color: $background-color;
}


.main_head{
    padding-top: $subhead_padtop;
    padding-bottom: $subhead_padbtm;
    text-align: center;
    
}

.sub_head{
    font-size: $subhead_font;
    padding-top: $subhead_padtop;
    padding-bottom: $subhead_padbtm;
    text-align: center;
}

.email_head{
    padding-bottom: $subhead_padbtm;
    padding-top: $subhead_padtop;
    
}

.contact_form{
    box-shadow: $back_shadow;
    padding: 25px 20px;
}