.category_text{
  font-weight: 400!important;
  color: #515151!important;
  font-size: 22px!important;
  }
  .menu{
      list-style: none;
      margin-left: 0px;
      padding: 0px;
  }
  .leftsidecontent{
      font-size: 1.1em;
      line-height: 35px;
      text-decoration: none!important;
      color: #515151;
      margin-top: 7px;
  }
  .leftsidecategory{
      border-right: 1px solid #ccc;
      position: relative;
      z-index: 2;
  }
  .icon{
      float: left;
  }
  .button_style{
    margin-left: 78%;
    margin-top:20px;
  }
  .hesepline{
    border-top: 1px solid olivedrab !important;
  }
  .card_box{
    width:250px;
    box-shadow: 2px 3px 4px 3px #888888;
  }
  .link_category{
    text-decoration: none;
    color: olivedrab;
  }
  .size_mobile{
   width:18px;
    font-size: 30px;
  }
  .category_name{
    float: right;
  }
