<div class="container-fluid mt-5">
	<div class="row ml-3">
<div class="col-md-3 leftsidecategory">
	<h3 class="category_text ml-5">
		Categories
	</h3>
	<ul class="menu">
		<li class="leftsidecontent row">
			<a href="#" style="text-decoration: none;color: olivedrab">
			<div class="icon mr-3">
					<i style="width: 20px" class="fa fa-code"></i>
				</div>
			<div style="float: right">Software Development</div>
		</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
					<i style="width: 20px" class="fa fa-desktop"></i>
				</div>
				<div style="float: right">Web Development</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px;font-size: 30px" class="fa fa-mobile"></i>
					</div>
				<div style="float: right">Mobile Development</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-wordpress"></i>
					</div>
				<div style="float: right">Wordpress Development</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-crosshairs"></i>
					</div>
				<div style="float: right">Marketing</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-file-image-o"></i>
					</div>
				<div style="float: right">Graphic Design</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-file-text"></i>
					</div>
				<div style="float: right">Office Productivity</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-gamepad"></i>
					</div>
				<div style="float: right">Game Development</div>
			</a>
		</li>
		<li class="leftsidecontent row">
				<a href="#" style="text-decoration: none;color: olivedrab">
				<div class="icon mr-3">
						<i style="width: 20px" class="fa fa-tasks"></i>
					</div>
				<div style="float: right">Data Science</div>
			</a>
		</li>
	</ul>
</div>
<div class="col-md-9">
	<h3>
		Featured
	</h3>
  <hr>


	<div class="row">
		<div class="col-md-4">
		 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
			 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
				<div class="card-body">
				<h5 class="card-title">Python For Begineers</h5>
				<p class="card-text">Free</p>
				<a href="#" class="btn btn-primary">Enroll</a>
				</div>
		 </div>
		</div>

		<div class="col-md-4">
		 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
			 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
				<div class="card-body">
				<h5 class="card-title">Python For Begineers</h5>
				<p class="card-text">Free</p>
				<a href="#" class="btn btn-primary">Enroll</a>
				</div>
		 </div>
		 </div>
		<div class="col-md-4">
		 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
			 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
			 <div class="card-body">
			 <h5 class="card-title">Python For Begineers</h5>
			 <p class="card-text">Free</p>
			 <a href="#" class="btn btn-primary">Enroll</a>
			 </div>
		 </div>
    </div>

  <div id="collapse_it" [ngbCollapse]="isCollapsed">
<br>
    <div class="row ml-2">
			<div class="col-md-4 ">
			 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
				 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
					<div class="card-body">
					<h5 class="card-title">Python For Begineers</h5>
					<p class="card-text">Free</p>
					<a href="#" class="btn btn-primary">Enroll</a>
					</div>
			 </div>
			</div>

			<div class="col-md-4">
			 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
				 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
					<div class="card-body">
					<h5 class="card-title">Python For Begineers</h5>
					<p class="card-text">Free</p>
					<a href="#" class="btn btn-primary">Enroll</a>
					</div>
			 </div>
			</div>

			<div class="col-md-4">
			 <div class="card" style="width:250px;box-shadow: 2px 3px 4px 3px #888888;">
				 <img class="card-img-top" src="assets/images/sample.jpg" alt="Card image" style="width:100%">
				 <div class="card-body">
				 <h5 class="card-title">Python For Begineers</h5>
				 <p class="card-text">Free</p>
				 <a href="#" class="btn btn-primary">Enroll</a>
				 </div>
			 </div>
			</div>
    </div>
  </div>
    <button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapse_it" style="margin-left: 78%;margin-top:20px">
    View More..
    </button>

</div>
</div>
    <app-all-courses></app-all-courses>
</div>
